.overview-area {
    &.bg-black {
        background-color: var(--blackColor);

        .section-title {
            h2 {
                color: var(--whiteColor);
            }
        }
        .overview-content {
            h2 {
                color: var(--whiteColor);
            }
            p {
                color: var(--whiteColor);
            }
            .link-btn {
                display: inline-block;
                color: var(--mainColor);
                position: relative;
                margin-top: 5px;
                padding-right: 20px;
                font: {
                    size: 15px;
                    weight: 500;
                };
                i {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 22px;
                }
                &:hover {
                    padding-right: 25px;
                }
            }
        }
    }
}
.overview-box {
    margin-top: 50px;

    &:first-child {
        margin-top: 0;
    }
    .overview-content {
        padding-left: 10px;
    }
    .overview-image {
        padding-right: 30px;
    }
    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
        .overview-content {
            padding: {
                left: 0;
                right: 10px;
            };
        }
        .overview-image {
            padding: {
                left: 30px;
                right: 0;
            };
        }
        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
    }
}
.overview-content {
    h2 {
        margin-bottom: 20px;
        font-size: 35px;
    }
    .link-btn {
        display: inline-block;
        color: var(--mainColor);
        position: relative;
        margin-top: 5px;
        padding-right: 20px;
        font: {
            size: 15px;
            weight: 500;
        };
        i {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 22px;
        }
        &:hover {
            padding-right: 25px;
        }
    }
}
.overview-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .overview-box {
        margin-top: 60px;

        .overview-image {
            margin-bottom: 30px;
            padding-right: 0;
        }
        .overview-content {
            border-bottom: 1px solid #eeeeee;
            padding: {
                left: 0;
                bottom: 60px;
            };
        }
        .col-lg-6 {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
            .overview-content {
                padding-right: 0;
            }
            .overview-image {
                padding-left: 0;
            }
            .col-lg-6 {
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                }
            }
        }
    }
    .overview-content {
        text-align: center;

        h2 {
            margin-bottom: 13px;
            font-size: 17px;
            line-height: 1.4;
        }
        .link-btn {
            margin-top: 0;
            font-size: 13px;

            i {
                font-size: 20px;
                margin-top: -.3px;
            }
        }
    }
    .overview-area {
        &.bg-black {
            .overview-box {
                margin: 0;

                .overview-image {
                    margin-bottom: 0;
                }
                .overview-content {
                    border-bottom: none;
                    padding-bottom: 40px;
                }
            }
        }
        &.overview-style-two {
            .overview-box {
                margin: 0;

                .overview-image {
                    margin-bottom: 0;
                }
                .overview-content {
                    border-bottom: none;
                    padding-bottom: 40px;
                }
            }
        }
        &.overview-style-three {
            .overview-box {
                margin: 0;

                .overview-image {
                    margin-bottom: 0;
                }
                .overview-content {
                    border-bottom: none;
                    padding: {
                        bottom: 0;
                        top: 40px;
                    };
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .overview-box {
        margin-top: 80px;

        .overview-image {
            border-bottom: 1px solid #eeeeee;
            padding: {
                right: 0;
                bottom: 80px;
            };
        }
        .overview-content {
            padding-left: 0;
            margin-bottom: 35px;
        }
        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
            .overview-content {
                padding-right: 0;
            }
            .overview-image {
                padding-left: 0;
            }
            .col-lg-6 {
                &:nth-child(1) {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 2;
                }
            }
        }
    }
    .overview-content {
        text-align: center;

        h2 {
            font-size: 21px;
        }
        .link-btn {
            font-size: 14px;

            i {
                font-size: 20px;
            }
        }
    }
    .overview-area {
        &.bg-black {
            .overview-box {
                margin: 0;

                .overview-image {
                    border-bottom: none;
                    padding-bottom: 40px;
                }
                .overview-content {
                    margin-bottom: 0;
                }
            }
        }
        &.overview-style-two {
            .overview-box {
                margin: 0;

                .overview-image {
                    border-bottom: none;
                    padding-bottom: 40px;
                }
                .overview-content {
                    margin-bottom: 0;
                }
            }
        }
        &.overview-style-three {
            .overview-box {
                margin: 0;

                .overview-image {
                    border-bottom: none;
                    padding: {
                        bottom: 0;
                        top: 40px;
                    };
                }
                .overview-content {
                    margin-bottom: 0;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .overview-content {
        h2 {
            font-size: 25px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}