<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>About Us</h1>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/about-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/about-img2.jpg" alt="image">
                </div>
            </div>
        </div>

        <div class="about-content">
            <span class="sub-title">ABOUT US</span>
            <h2>We've Been Thriving in 37 Years In This Area</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
            <ul>
                <li>a console</li>
                <li>Two Joy-Con controllers that are detachable</li>
                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
            </ul>
            <h3>Our Goal</h3>
            <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h3>Our Mission</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            <h3>Our Vision</h3>
            <p> Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/about-img3.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/about-img4.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<app-why-choose-us></app-why-choose-us>

<app-lets-talk></app-lets-talk>

<app-testimonials></app-testimonials>

<app-funfacts></app-funfacts>

<app-team-style-one></app-team-style-one>

<app-subscribe></app-subscribe>