.faq-tabs {
    text-align: center;
    border-bottom: none;
    padding-bottom: 40px;
    border: {
        left: 1px solid #f5f5f5;
        right: 1px solid #f5f5f5;
    };
    .nav-link {
        border: none;
        border-radius: 0;
        padding: 20px 30px;
        display: inline-block;
        color: var(--blackColor);
        flex: 1 1 auto !important;
        background-color: #f5f5f5;
        border-top: 5px solid var(--blackColor);
        font: {
            size: 17px;
            weight: 700;
        };
        margin: {
            bottom: 0;
            left: 5px;
            right: 5px;
        };
        &.active, &:hover {
            background-color: var(--mainColor);
            color: var(--whiteColor);
        }
    }
    &:last-child {
        margin-right: 0;
    }
    &:first-child {
        margin-left: 0;
    }
}
.faq-tab-content {
    padding: 0 40px 40px;
    border: 1px solid #f5f5f5;
    border-top: none;
}
.faq-accordion {
    .accordion-item {
        border: none;
        display: block;
        text-align: left;
        margin-bottom: 15px;
        flex-direction: unset;
        background-color: #f5f5f5;
        border-radius: 0 !important;

        .accordion-header {
            padding: 0;
            border: none;
            text-align: left;
            background-color: #f5f5f5;
            
            button {
                width: 100%;
                border: none;
                display: block;
                cursor: pointer;
                text-align: left;
                position: relative;
                box-shadow: unset !important;
                transition: var(--transition);
                background-color: transparent;
                border-bottom: 1px solid #eeeeee;
                font: {
                    size: 16px;
                    weight: 700;
                };
                padding: {
                    top: 15px;
                    bottom: 15px;
                    left: 20px;
                    right: 20px;
                };
                &::before {
                    content: "\e9ac";
                    position: absolute;
                    right: 20px;
                    transition: var(--transition);
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    font: {
                        family: 'boxicons';
                        size: 20px;
                    };
                }
                &.collapsed {
                    border-bottom-width: 0;

                    &::before {
                        transform: translateY(-50%) rotate(0);
                    }
                }
                &:not(.collapsed) {
                    color: var(--blackColor);
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        .accordion-body {
            strong {
                color: var(--blackColor);
            }
            ul {
                margin-bottom: 15px;

                li {
                    margin-bottom: 12px;
                    color: var(--optionalColor);
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .faq-tabs {
        padding-bottom: 10px;

        .nav-link {
            margin-bottom: 10px;
            padding: 10px 15px;
            font-size: 13px;
            border: none;

            &:last-child {
                margin: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
    .faq-tab-content {
        padding: 0 15px 20px;
    }
    .faq-accordion {
        .accordion-item {
            .accordion-header {
                button {
                    font-size: 13px;
                    padding: {
                        top: 10px;
                        bottom: 10px;
                        left: 10px;
                        right: 25px;
                    };
                    &::before {
                        right: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .faq-tabs {
        padding-bottom: 25px;

        .nav-link {
            padding: 15px 15px;
            border-top-width: 2px;
            font-size: 15px;
        }
    }
    .faq-tab-content {
        padding: 0 25px 25px;
    }
    .faq-accordion {
        .accordion-item {
            .accordion-header {
                button {
                    font-size: 14px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .faq-tabs {
        padding-bottom: 30px;

        .nav-link {
            padding: 13px 15px;
            font-size: 16px;
        }
    }
    .faq-tab-content {
        padding: 0 30px 30px;
    }
    .faq-accordion {
        .accordion-item {
            .accordion-header {
                button {
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}