@import "../home-demo-four/homefour-features/homefour-features.component.scss";
@import "../faq-page/faq-page.component.scss";
@import "../services-details-page/services-details-page.component.scss";
.case-studies-details-content {
    .sub-title {
        display: block;
        margin-bottom: 12px;
        color: var(--mainColor);
        font: {
            size: 15px;
            weight: 500;
        };
    }
    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .features-list {
        list-style-type: none;
        padding-left: 0;
        margin: {
            top: 27px;
            bottom: 20px;
        };
        li {
            color: var(--blackColor);
            margin-bottom: 15px;
            font-weight: 600;
            position: relative;
            padding-left: 17px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--mainColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    h3 {
        font-size: 22px;
        margin-bottom: 12px;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .case-studies-details-content {
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 17px;
        }
        .features-list {
            li {
                padding-left: 0;
                font-weight: 500;

                &::before {
                    display: none;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .case-studies-details-content {
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 18px;
        }
        .features-list {
            li {
                font-size: 13px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}