.features-area {
    &.mt-minus {
        margin-top: -180px;
    }
}
.features-inner {
    z-index: 1;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: var(--mainColor);
    padding: {
        top: 40px;
        bottom: 40px;
    };
    .row {
        margin: {
            left: 0;
            right: 0;
        };
        .col-lg-3 {
            padding: {
                left: 0;
                right: 0;
            };
        }
    }
    &::before {
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        height: 100%;
        opacity: 0.2;
        position: absolute;
        border-radius: 10px;
        background: {
            image: url(../../../../../assets/img/bg5.png);
            position: center center;
            repeat: no-repeat;
            size: cover;
        };
    }
}
.single-features-box {
    position: relative;
    z-index: 1;
    padding: {
        left: 25px;
        right: 25px;
    };
    .icon {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 25px;
        position: relative;
        z-index: 1;
        color: var(--whiteColor);

        &::before {
            content: '';
            left: 20px;
            top: 50%;
            width: 60px;
            z-index: -1;
            height: 60px;
            opacity: 0.35;
            margin-top: 3.5px;
            border-radius: 50%;
            position: absolute;
            background-color: #000000;
            transform: translateY(-50%);
            transition: var(--transition);
        }
    }
    h3 {
        font-size: 22px;
        margin-bottom: 15px;
        color: var(--whiteColor);

        a {
            color: var(--whiteColor);
        }
    }
    .link-btn {
        display: inline-block;
        color: var(--whiteColor);
        position: relative;
        margin-top: 5px;
        padding-right: 20px;
        opacity: 0.9;
        font: {
            size: 15px;
            weight: 500;
        };
        i {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 22px;
        }
        &:hover {
            opacity: 1;
            padding-right: 25px;
        }
    }
    p {
        opacity: .9;
        color: var(--whiteColor);
    }
    &::before {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 50%;
        content: '';
        background-color: #000000;
        opacity: 0.25;
    }
    &:hover {
        .icon {
            &::before {
                left: 30px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .features-area {
        &.mt-minus {
            margin-top: 0;
            padding-top: 60px;
        }
    }
    .features-inner {
        text-align: center;
        padding: {
            top: 30px;
            bottom: 0;
        };
    }
    .single-features-box {
        margin-bottom: 30px;
        text-align: center;
        padding: {
            left: 15px;
            right: 15px;
        };
        &::before {
            display: none;
        }
        .icon {
            font-size: 40px;

            &::before {
                left: 20px !important;
                right: 0;
                width: 50px;
                height: 50px;
                margin: {
                    left: auto;
                    right: auto;
                };
            }
        }
        h3 {
            font-size: 17px;
        }
        .link-btn {
            font-size: 13px;

            i {
                font-size: 20px;
                margin-top: -.3px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .features-inner {
        padding: {
            top: 30px;
            bottom: 0;
        };
    }
    .single-features-box {
        margin-bottom: 30px;
        text-align: center;
        padding: {
            left: 20px;
            right: 20px;
        };
        &::before {
            display: none;
        }
        .icon {
            font-size: 50px;
            margin: {
                left: auto;
                right: auto;
            };
            &::before {
                right: 0;
                left: 25px;
                width: 50px;
                height: 50px;
                margin: 0 auto;
            }
        }
        h3 {
            font-size: 18px;
        }
        .link-btn {
            font-size: 14px;

            i {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .features-inner {
        padding: {
            top: 30px;
            bottom: 30px;
        };
    }
    .single-features-box {
        padding: {
            left: 17px;
            right: 17px;
        };
        .icon {
            font-size: 50px;

            &::before {
                left: 20px;
                width: 50px;
                height: 50px;
            }
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}