.funfacts-area {
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
        image: url(../../../../assets/img/bg4.jpg);
    };
}
.single-funfacts {
    text-align: center;
    margin-bottom: 30px;

    .icon {
        width: 100px;
        height: 100px;
        position: relative;
        color: var(--mainColor);
        transition: var(--transition);
        border-radius: 5px;
        font-size: 55px;
        border: 1px solid #484e60;
        margin: {
            left: auto;
            right: auto;
            bottom: 20px;
        };
        i {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin-top: -1px;
            transform: translateY(-50%);
        }
    }
    h3 {
        color: var(--mainColor);
        margin-bottom: 12px;
        font: {
            size: 35px;
            weight: 900;
        };
        .sign {
            position: relative;
            top: 2px;
        }
    }
    p {
        line-height: initial;
        color: var(--whiteColor);
        opacity: 0.95;
        font-size: 16px;
    }
    &.bg {
        .icon {
            border: none;
            background-color: rgba(255, 255, 255, .20);
        }
        h3 {
            color: var(--whiteColor);
        }
        &:hover {
            .icon {
                color: var(--whiteColor);
                background-color: var(--mainColor);
            }
        }
    }
    &:hover {
        .icon {
            border-color: var(--mainColor);
            color: var(--whiteColor);
            background-color: var(--mainColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-funfacts {
        .icon {
            width: 60px;
            height: 60px;
            font-size: 30px;
            margin-bottom: 15px;
        }
        h3 {
            margin-bottom: 10px;
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-funfacts {
        .icon {
            width: 80px;
            height: 80px;
            font-size: 45px;
            margin-bottom: 18px;
        }
        h3 {
            margin-bottom: 10px;
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-funfacts {
        .icon {
            width: 90px;
            height: 90px;
            font-size: 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 15px;
        }
    }

}