.coming-soon-area {
    height: 100vh;
    background: {
        image: url(../../../../assets/img/bg8.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.coming-soon-content {
    padding: 35px;
    border-radius: 5px;
    background: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    
    .logo {
        display: inline-block;
    }
    h2 {
        font-size: 35px;
        margin: {
            top: 20px;
            bottom: 0;
        };
    }
    #timer {
        margin-top: 30px;

        div {
            width: 100px;
            height: 105px;
            border-radius: 5px;
            color: var(--blackColor);
            background-color: #f8f8f8;
            font: {
                size: 30px;
                weight: 700;
            };
            margin: {
                left: 10px;
                right: 10px;
            };
            span {
                display: block;
                margin-top: 2px;
                font: {
                    size: var(--fontSize);
                    weight: 500;
                };
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    form {
        position: relative;
        margin-top: 40px;
        max-width: 450px;

        .form-group {
            margin-bottom: 25px;
            width: 100%;
            position: relative;

            .input-newsletter {
                padding: 0;
                width: 100%;
                height: 45px;
                border: none;
                display: block;
                border-radius: 0;
                color: var(--blackColor);
                font-size: var(--fontSize);
                transition: var(--transition);
                border-bottom: 1px solid #eeeeee;

                &::placeholder {
                    color: var(--optionalColor);
                    transition: var(--transition);
                }
                &:focus {                  
                    border-color: var(--mainColor);

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
        .default-btn {
            padding: {
                left: 35px;
                right: 35px;
            };
        }
    }
}
.coming-soon-image {
    text-align: center;
    padding-left: 15px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .coming-soon-area {
        height: auto;
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .coming-soon-content {
        padding: 30px 20px;
        text-align: center;

        h2 {
            margin-top: 25px;
            font-size: 24px;
        }
        #timer {
            margin-top: 10px;
            justify-content: center;

            div {
                width: 95px;
                height: 100px;
                font-size: 30px;
                margin-top: 20px;

                span {
                    font-size: 14px;
                }
                &:first-child {
                    margin-left: 10px;
                }
                &:last-child {
                    margin-right: 10px;
                }
            }
        }
        form {
            max-width: 100%;
            margin-top: 20px;

            .form-group {
                margin-bottom: 20px;

                .input-newsletter {
                    font-size: 14px;
                }
            }
        }
    }
    .coming-soon-image {
        padding-left: 0;
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .coming-soon-area {
        height: auto;
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }
    .coming-soon-content {
        padding: 30px;
        text-align: center;

        h2 {
            font-size: 28px;
        }
        #timer {
            justify-content: center;
        }
        form {
            margin: {
                left: auto;
                right: auto;
                top: 30px;
            };
        }
    }
    .coming-soon-image {
        padding-left: 0;
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .coming-soon-content {
        padding: 25px 20px;

        h2 {
            font-size: 30px;
        }
        #timer {
            div {
                width: 95px;
                height: 100px;
                margin: {
                    left: 5px;
                    right: 5px;
                };
            }
        }
        form {
            margin-top: 25px;
            max-width: 100%;

            .form-group {
                margin-bottom: 20px;
            }
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}