.billing-details-desc {
    padding: 30px 30px 10px;
    background-color: #f5f5f5;

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
        color: var(--whiteColor);
        background-color: var(--blackColor);
        padding: {
            top: 17px;
            left: 30px;
            right: 30px;
            bottom: 17px;
        };
        margin: {
            right: -30px;
            left: -30px;
            top: -30px;
        };
    }
    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 10px;
            color: var(--blackColor);

            .required {
                color: red;
            }
        }
        .form-control {
            background-color: var(--whiteColor) !important;
        }
        select {
            width: 100%;
            float: unset;
            border: none;
            height: 50px;
            display: block;
            cursor: pointer;
            border-radius: 0;
            line-height: 50px;
            padding: 0 0 0 12px;
            font-size: var(--fontSize);
            color: var(--optionalColor);
            transition: var(--transition);
            background: var(--whiteColor);
        }
    }
}
.order-details-desc {
    padding: 30px;
    background-color: #f5f5f5;

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
        color: var(--whiteColor);
        background-color: var(--blackColor);
        padding: {
            left: 30px;
            right: 30px;
            top: 17px;
            bottom: 17px;
        };
        margin: {
            left: -30px;
            right: -30px;
            top: -30px;
        };
    }
    .order-details {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            display: block;
            overflow: hidden;
            margin-bottom: 12px;
            padding-bottom: 12px;
            color: var(--optionalColor);
            border-bottom: 1px solid #ebebeb;

            span {
                float: right;
            }
            &:last-child {
                font-weight: 600;
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
                color: var(--blackColor);
            }
        }
    }
    .payment-method {
        margin: {
            top: 30px;
            bottom: 20px;
        };
        p {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
            [type="radio"] {
                &:checked, &:not(:checked) {
                    display: none;
                }
            }
            [type="radio"] {
                &:checked, &:not(:checked) {
                    + label {
                        padding-left: 27px;
                        cursor: pointer;
                        display: block;
                        color: var(--blackColor);
                        position: relative;
                        margin-bottom: 8px;
                        font: {
                            size: var(--fontSize);
                            weight: 600;
                        };
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 5px;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #dddddd;
                            border-radius: 50%;
                            background: var(--whiteColor);
                        }
                        &::after {
                            content: '';
                            width: 12px;
                            height: 12px;
                            background: var(--mainColor);
                            position: absolute;
                            top: 8px;
                            left: 3px;
                            border-radius: 50%;
                            transition: var(--transition);
                        }
                    }
                }
            }
            [type="radio"] {
                &:not(:checked) {
                    + label {
                        &::after {
                            opacity: 0;
                            visibility: hidden;
                            transform: scale(0);
                        }
                    }
                }
            }
            [type="radio"] {
                &:checked {
                    + label {
                        &::after {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    .form-check {
        color: var(--optionalColor);

        a {
            color: var(--mainColor);

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .default-btn {
        margin-top: 25px;
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: {
            top: 13px;
            bottom: 13px;
            left: 30px;
            right: 30px;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .billing-details-desc {
        padding: 20px 15px;

        h3 {
            font-size: 17px;
            padding: {
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 14px;
            };
            margin: {
                left: -15px;
                right: -15px;
                bottom: 20px;
                top: -20px;
            };
        }
        .form-group {
            .nice-select {
                font-size: 13px;

                .list {
                    .option {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .order-details-desc {
        margin-top: 30px;
        padding: 20px 15px;

        h3 {
            font-size: 17px;
            padding: {
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 14px;
            };
            margin: {
                left: -15px;
                right: -15px;
                bottom: 20px;
                top: -20px;
            };
        }
        .default-btn {
            margin-top: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .billing-details-desc {
        padding: 20px 20px 0;

        h3 {
            font-size: 18px;
            padding: {
                top: 18px;
                left: 20px;
                right: 20px;
                bottom: 17px;
            };
            margin: {
                right: -20px;
                left: -20px;
                top: -20px;
                bottom: 20px;
            };
        }
    }
    .order-details-desc {
        margin-top: 30px;
        padding: 20px;

        h3 {
            font-size: 18px;
            padding: {
                top: 18px;
                left: 20px;
                right: 20px;
                bottom: 17px;
            };
            margin: {
                right: -20px;
                left: -20px;
                top: -20px;
                bottom: 20px;
            };
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}