.home-area {
    position: relative;
    background: {
        position: bottom left;
        repeat: no-repeat;
        color: #f5f5f5;
        size: cover;
        image: url(../../../../../assets/img/main-banner2.jpg);
    };
    padding: {
        top: 80px;
        bottom: 200px;
    };
    .container-fluid {
        padding: {
            left: 100px;
            right: 40px;
        };
    }
    .award {
        left: 20%;
        width: 100px;
        bottom: 70px;
        position: absolute;
    }
}
.home-content {
    margin-left: auto;
    max-width: 740px;

    h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        max-width: 620px;
        color: var(--blackColor);
    }
    .btn-box {
        margin-top: 30px;

        .default-btn {
            &:nth-child(2) {
                margin-left: 15px;
                background-color: var(--blackColor);

                &:hover {
                    color: var(--whiteColor);
                    background-color: var(--mainColor);
                }
            }
        }
    }
}
.home-image {
    text-align: center;
    padding-left: 15px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .home-area {
        background-image: unset !important;
        padding: {
            top: 80px;
            bottom: 80px;
        };
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
        .award {
            left: 10px;
            width: 40px;
            bottom: 10px;
        }
    }
    .home-content {
        max-width: 100%;
        text-align: center;

        h1 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            font-size: 14px;
            max-width: 100%;
        }
        .btn-box {
            margin-top: -5px;

            .default-btn {
                margin: {
                    left: 3px !important;
                    top: 12px;
                    right: 3px;
                };
            }
        }
    }
    .home-image {
        margin-top: 30px;
        padding-left: 0;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .home-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .home-area {
        background-position: center center;
        padding: {
            top: 80px;
            bottom: 200px;
        };
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
        .award {
            left: 15%;
        }
    }
    .home-content {
        max-width: 100%;
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        };
        h1 {
            font-size: 38px;
        }
        p {
            font-size: 15px;
            margin: {
                left: auto;
                right: auto;
            };
        }
        .btn-box {
            margin-top: 25px;

            .default-btn {
                margin: {
                    left: 5px !important;
                    right: 5px !important;
                };
            }
        }
    }
    .home-image {
        padding-left: 0;
        margin-top: 40px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .home-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
        .award {
            left: 24%;
            bottom: 45px;
        }
    }
    .home-content {
        margin-left: 0;
        max-width: 100%;

        h1 {
            font-size: 45px;
        }
        p {
            font-size: 15px;
            max-width: 100%;
        }
        .btn-box {
            margin-top: 25px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .home-area {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
        .award {
            bottom: 40px;
        }
    }
    .home-content {
        margin-left: 0;
        max-width: 100%;

        h1 {
            font-size: 50px;
        }
        p {
            max-width: 470px;
            font-size: 15px;
        }
    }

}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .home-area {
        .container-fluid {
            padding: {
                left: 80px;
                right: 80px;
            };
        }
        .award {
            bottom: 90px;
        }
    }

}