.lets-talk-area {
    background: {
        image: url(../../../../assets/img/bg2.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    &.bg-f5f5f5 {
        z-index: 1;
        overflow: hidden;
        position: relative;
        background-image: unset !important;

        &::after {
            right: 50%;
            bottom: -65%;
            width: 600px;
            height: 600px;
            z-index: -2;
            content: '';
            border-radius: 50%;
            position: absolute;
            background-color: #efefef;
            transform: translateX(50%);
        }
        .lets-talk-content {
            h2 {
                color: var(--blackColor);
            }
            p {
                opacity: 1;
                color: var(--optionalColor);
            }
            .default-btn {
                color: var(--whiteColor);
                background-color: var(--mainColor);
        
                &:hover {
                    color: var(--whiteColor);
                    background-color: var(--blackColor);
                }
            }
        }
    }
    &.bg-d8eafe {
        background: {
            image: unset !important;
            color: #d8eafe;
        };
        .lets-talk-content {
            h2 {
                color: var(--blackColor);
            }
            p {
                opacity: 1;
                color: var(--optionalColor);
            }
            .default-btn {
                color: var(--whiteColor);
                background-color: var(--mainColor);
        
                &:hover {
                    color: var(--whiteColor);
                    background-color: var(--blackColor);
                }
            }
        }
    }
}
.lets-talk-content {
    text-align: center;
    color: var(--whiteColor);

    h2 {
        font-size: 35px;
        margin-bottom: 20px;
        color: var(--whiteColor);
    }
    p {
        opacity: 0.9;
        max-width: 540px;
        color: var(--whiteColor);
        margin: {
            left: auto;
            right: auto;
        };
    }
    .default-btn {
        margin-top: 10px;
        color: var(--whiteColor);
        background-color: var(--blackColor);

        &:hover {
            color: var(--blackColor);
            background-color: var(--whiteColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .lets-talk-area {
        &.bg-f5f5f5 {
            &.pb-extra {
                padding-bottom: 60px;
            }
            &::before {
                display: none;
            }
        }
    }
    .lets-talk-content {
        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;

            i {
                right: 15px;
                font-size: 15px;
                margin-top: 0;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .lets-talk-content {
        h2 {
            font-size: 28px;
        }
    }
    .lets-talk-area {
        &.bg-f5f5f5 {
            &.pb-extra {
                padding-bottom: 80px;
            }
            &::before {
                display: none;
            }
        }
        .go-top {
            right: 20px;
            position: fixed;
            bottom: 20px !important;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .lets-talk-content {
        h2 {
            font-size: 30px;
        }
    }

}