<app-top-header *ngIf="!(location == '/coming-soon' || location == '/sign-in' || location == '/sign-up')"></app-top-header>
<app-navbar *ngIf="!(location == '/coming-soon' || location == '/sign-in' || location == '/sign-up')"></app-navbar>
<router-outlet></router-outlet>
<app-footer *ngIf="!(location == '/coming-soon' || location == '/sign-in' || location == '/sign-up')"></app-footer>
<ngx-scrolltop *ngIf="!(location == '/coming-soon' || location == '/sign-in' || location == '/sign-up')"></ngx-scrolltop>