.cart-table-desc {
    table {
        margin-bottom: 0;

        thead {
            tr {
                th {
                    border: none;
                    padding: 13px 15px;
                    vertical-align: middle;
                    color: var(--whiteColor);
                    background-color: var(--blackColor);
                    font: {
                        size: 15px;
                        weight: 600;
                    };
                }
            }
        }
        tbody {
            tr {
                td {
                    color: var(--optionalColor);
                    vertical-align: middle;
                    font: {
                        size: 14px;
                        weight: 600;
                    };
                    padding: {
                        left: 0;
                        right: 0;
                    };
                    border: {
                        left: none;
                        right: none;
                        color: #ebebeb;
                    };
                    &.product-thumbnail {
                        a {
                            display: inline-block;

                            img {
                                width: 80px;
                            }
                        }
                    }
                    &.product-name {
                        a {
                            display: inline-block;
                        }
                    }
                    &.product-subtotal {
                        .remove {
                            top: 2px;
                            color: red;
                            line-height: 1;
                            font-size: 20px;
                            margin-left: 40px;
                            position: relative;
                        }
                    }
                    &.product-quantity {
                        .input-counter {
                            max-width: 120px;
                            min-width: 120px;
                            text-align: center;
                            display: inline-block;
                            position: relative;

                            span {
                                top: 0;
                                width: 35px;
                                height: 100%;
                                font-size: 18px;
                                line-height: 40px;
                                position: absolute;
                                cursor: pointer;
                                color: var(--blackColor);
                                background-color: transparent;
                                transition: var(--transition);
                                border: 1px solid #eeeeee;

                                i {
                                    position: relative;
                                    top: 1px;
                                }
                                &.minus-btn {
                                    left: 0;
                                }
                                &.plus-btn {
                                    right: 0;
                                }
                                &:hover {
                                    color: var(--mainColor);
                                }
                            }
                            input {
                                height: 40px;
                                outline: 0;
                                width: 100%;
                                display: block;
                                text-align: center;
                                color: var(--blackColor);
                                border: 1px solid #eeeeee;
                                background-color: transparent;
                                font: {
                                    size: 17px;
                                    weight: 600;
                                }
                                &::placeholder {
                                    color: var(--blackColor);
                                }
                            }
                        }
                    }
                    &.product-subtotal {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
.cart-buttons-desc {
    .shopping-coupon-code {
        position: relative;

        .form-control {
            height: 46px;
        }
        button {
            top: 0;
            right: 0;
            height: 46px;
            border: none;
            padding: 0 25px;
            line-height: 40px;
            position: absolute;
            color: var(--whiteColor);
            border-radius: 0 5px 5px 0;
            transition: var(--transition);
            background-color: var(--blackColor);
            font: {
                size: 14px;
                weight: 600;
            };
            &:hover {
                background-color: var(--mainColor);
            }
        }
    }
}
.cart-totals-desc {
    padding: 30px;
    background-color: #f5f5f5;

    h3 {
        font-size: 15px;
        padding: 16px 20px;
        margin-bottom: 30px;
        color: var(--whiteColor);
        background-color: var(--blackColor);
        margin: {
            left: -30px;
            right: -30px;
            top: -30px;
        };
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            overflow: hidden;
            display: block;
            margin-bottom: 12px;
            padding-bottom: 12px;
            color: var(--optionalColor);
            border-bottom: 1px solid #ebebeb;

            span {
                float: right;
            }
            &:last-child {
                font-weight: 600;
                color: var(--blackColor);
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .default-btn {
        width: 100%;
        display: block;
        margin-top: 25px;
        border-radius: 5px;
        padding: {
            left: 30px;
            right: 30px;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .cart-table-desc {
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                        white-space: nowrap;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding-right: 20px;
                        white-space: nowrap;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .cart-buttons-desc {
        .shopping-coupon-code {
            .form-control {
                padding-left: 10px;
            }
            button {
                padding: 0 15px;
                font-size: 12px;
            }
        }
        .text-right {
            text-align: center !important;
            margin-top: 30px;
        }
    }
    .cart-totals-desc {
        margin-top: 30px;
        padding: 20px 15px;

        h3 {
            font-size: 17px;
            padding: {
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 14px;
            };
            margin: {
                left: -15px;
                right: -15px;
                bottom: 20px;
                top: -20px;
            };
        }
        .default-btn {
            margin-top: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .cart-totals-desc {
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}