.single-awards-box {
    box-shadow: 0 2px 48px 0 rgba(0,0,0,.08);
    background-color: var(--whiteColor);
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;

    h3 {
        font-size: 22px;
        margin: {
            top: 30px;
            bottom: 15px;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-awards-box {
        padding: 20px 15px;

        h3 {
            font-size: 17px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-awards-box {
        padding: 20px;

        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-awards-box {
        padding: 25px;

        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}