.banner-area {
    background-color: #d8eafe;

    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            .col-lg-6 {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
}
.banner-content {
    margin-left: auto;
    max-width: 685px;
    position: relative;
    padding: {
        top: 180px;
        right: 0;
        bottom: 300px;
    };
    h1 {
        font-size: 60px;
        margin: {
            bottom: 20px;
            top: -15px;
        };
    }
    p {
        max-width: 620px;
        font-size: 16px;
        color: var(--blackColor);
    }
    .btn-box {
        margin-top: 30px;

        .default-btn {
            &:nth-child(2) {
                margin-left: 15px;
                background-color: var(--blackColor);

                &:hover {
                    color: var(--whiteColor);
                    background-color: var(--mainColor);
                }
            }
        }
    }
    .video-btn {
        top: 50%;
        z-index: 2;
        width: 90px;
        right: -145px;
        height: 90px;
        font-size: 60px;
        position: absolute;
        border-radius: 50%;
        margin-top: -50px;
        text-align: center;
        display: inline-block;
        color: var(--mainColor);
        transform: translateY(-50%);
        background-color: var(--whiteColor);

        i {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--whiteColor);
        }
        &::before {
            animation: ripple 2s linear infinite;
        }
        &::after {
            animation: ripple 2s linear 1s infinite;
        }
        &:hover {
            color: var(--whiteColor);
            background-color: var(--mainColor);
        }
    }
}
.banner-image {
    z-index: 1;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    background: {
        image: url(../../../../../assets/img/banner-img3.png);
        position: left bottom;
        repeat: no-repeat;
        size: cover;
    };
    img {
        display: none;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .banner-area {
        padding: {
            top: 80px;
            bottom: 70px;
        };
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .banner-content {
        margin-left: 0;
        text-align: center;
        max-width: 100%;
        padding: {
            top: 0;
            bottom: 0;
        };
        .video-btn {
            top: 0;
            width: 60px;
            right: 0;
            height: 60px;
            font-size: 50px;
            position: relative;
            margin-top: 45px;
            transform: unset;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            font-size: 14px;
            max-width: 100%;
        }
        .btn-box {
            margin-top: -5px;

            .default-btn {
                margin: {
                    left: 3px !important;
                    top: 12px;
                    right: 3px;
                };
            }
        }
    }
    .banner-image {
        background-image: unset !important;
        clip-path: unset !important;
        margin-top: 30px;

        img {
            display: inline-block;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .banner-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .banner-area {
        padding: {
            top: 90px;
            bottom: 90px;
        };
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .banner-content {
        text-align: center;
        max-width: 100%;
        padding: {
            top: 0;
            bottom: 40px;
        };
        h1 {
            font-size: 40px;
            margin-top: -8px;
        }
        p {
            font-size: 15px;
            margin: {
                left: auto;
                right: auto;
            };
        }
        .btn-box {
            margin-top: 25px;

            .default-btn {
                margin: {
                    left: 5px !important;
                    right: 5px !important;
                };
            }
        }
        .video-btn {
            top: 0;
            width: 70px;
            right: 0;
            height: 70px;
            font-size: 60px;
            position: relative;
            margin-top: 50px;
            transform: unset;
        }
    }
    .banner-image {
        background-image: unset !important;
        clip-path: unset !important;
        height: auto;

        img {
            display: inline-block;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .banner-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .banner-content {
        margin-left: 0;
        max-width: 100%;
        padding: {
            top: 150px;
            bottom: 150px;
        };
        h1 {
            font-size: 40px;
            margin-top: -10px;
        }
        p {
            max-width: 100%;
            font-size: 15px;
        }
        .btn-box {
            margin-top: 25px;
        }
        .video-btn {
            width: 75px;
            right: -120px;
            height: 75px;
            margin-top: 0;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .banner-content {
        max-width: 555px;
        padding-bottom: 280px;

        h1 {
            font-size: 48px;
            margin-top: -10px;
        }
        p {
            max-width: 475px;
            font-size: 15px;
        }
    }

}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {

    .banner-content {
        max-width: 620px;

        h1 {
            font-size: 50px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .banner-content {
        max-width: 785px;
        padding: {
            top: 210px;
            right: 100px;
            bottom: 330px;
        };
        .video-btn {
            right: -190px;
        }
    }

}