.banner-wrapper-area {
    padding: {
        bottom: 100px;
        top: 80px;
    };
}
.banner-wrapper-content {
    h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        max-width: 540px;
    }
    .default-btn {
        margin-top: 10px;
    }
}
.banner-wrapper-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .banner-wrapper-area {
        border-top: 1px solid #eeeeee;
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }
    .banner-wrapper-content {
        text-align: center;
        margin-top: -8px;

        h1 {
            font-size: 25px;
            line-height: 1.4;
            margin-bottom: 15px;
        }
        p {
            font-size: 14px;
            max-width: 100%;
        }
        .default-btn {
            margin-top: 0;
        }
    }
    .banner-wrapper-image {
        margin-top: 35px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .banner-wrapper-area {
        border-top: 1px solid #eeeeee;
        padding: {
            top: 90px;
            bottom: 90px;
        };
    }
    .banner-wrapper-content {
        text-align: center;

        h1 {
            font-size: 28px;
        }
        p {
            font-size: 15px;
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .banner-wrapper-image {
        margin-top: 35px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .banner-wrapper-content {
        h1 {
            font-size: 29px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}