.why-choose-area {
    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            .col-lg-6 {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
}
.why-choose-us-image {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: {
        left: 30px;
        top: 30px;
        right: 15px;
    };
    &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: -30px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: {
            image: url(../../../../assets/img/bg1.jpg);
            position: center center;
            repeat: no-repeat;
            size: cover;
        };
    }
    img {
        border-radius: 5px;
    }
}
.why-choose-us-content {
    padding-left: 15px;

    .sub-title {
        display: block;
        margin-bottom: 12px;
        color: var(--mainColor);
        font: {
            size: 15px;
            weight: 500;
        };
    }
    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 30px;
            bottom: 0;
        };
        li {
            position: relative;
            margin-bottom: 25px;
            padding-left: 105px;

            .icon {
                position: absolute;
                left: 0;
                top: 4px;
                width: 80px;
                text-align: center;
                height: 85px;
                font-size: 50px;
                border-radius: 5px;
                border: 1px solid var(--mainColor);
                transition: var(--transition);

                i {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    margin-top: -4px;
                    transform: translateY(-50%);
                }
            }
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &:hover {
                .icon {
                    color: var(--whiteColor);
                    background-color: var(--mainColor);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.why-choose-us-img {
    height: 100%;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    img {
        display: none;
    }
}
.why-choose-us-text {
    background: {
        image: url(../../../../assets/img/bg6.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    padding: {
        top: 100px;
        bottom: 100px;
        left: 60px;
    };
    .content {
        max-width: 525px;

        .sub-title {
            display: block;
            margin-bottom: 12px;
            color: var(--mainColor);
            font: {
                size: 15px;
                weight: 500;
            };
        }
        h2 {
            font-size: 35px;
            margin-bottom: 15px;
        }
        .features-list {
            padding-left: 0;
            list-style-type: none;
            margin: {
                top: 30px;
                bottom: 0;
            };
            li {
                position: relative;
                margin-bottom: 25px;
                padding-left: 105px;
    
                .icon {
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 80px;
                    text-align: center;
                    height: 85px;
                    font-size: 50px;
                    border-radius: 5px;
                    border: 1px solid var(--mainColor);
                    transition: var(--transition);
    
                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        margin-top: -4px;
                        transform: translateY(-50%);
                    }
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                &:hover {
                    .icon {
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .why-choose-area {
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .why-choose-us-image {
        margin: {
            bottom: 30px;
            left: 10px;
            right: 0;
            top: 10px;
        };
        &::before {
            left: -10px;
            top: -10px;
        }
    }
    .why-choose-us-content {
        padding-left: 0;
        text-align: center;

        .sub-title {
            margin-bottom: 10px;
            font-size: 13px;
        }
        h2 {
            font-size: 23px;
            line-height: 1.4;
        }
        .features-list {
            li {
                padding-left: 0;

                .icon {
                    top: 0;
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                    position: relative;
                    margin: {
                        left: auto;
                        right: auto;
                        bottom: 20px;
                    };
                }
                h3 {
                    font-size: 17px;
                }
            }
        }
    }
    .why-choose-us-img {
        height: auto;
        margin-top: 60px;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .why-choose-us-text {
        padding: {
            top: 30px;
            bottom: 60px;
            left: 0;
        };
        .content {
            max-width: 100%;
            text-align: center;
    
            .sub-title {
                margin-bottom: 10px;
                font-size: 13px;
            }
            h2 {
                font-size: 23px;
                line-height: 1.4;
            }
            .features-list {
                li {
                    padding-left: 0;
    
                    .icon {
                        top: 0;
                        width: 60px;
                        height: 60px;
                        font-size: 30px;
                        position: relative;
                        margin: {
                            left: auto;
                            right: auto;
                            bottom: 20px;
                        };
                    }
                    h3 {
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .why-choose-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .why-choose-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .why-choose-us-image {
        margin-right: 0;
        margin-bottom: 35px;
    }
    .why-choose-us-content {
        padding-left: 0;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 28px;
        }
        .features-list {
            li {
                padding-left: 92px;

                .icon {
                    top: 2px;
                    width: 70px;
                    height: 70px;
                    font-size: 40px;
                }
                h3 {
                    font-size: 17px;
                }
            }
        }
    }
    .why-choose-us-img {
        height: auto;
        margin-top: 80px;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .why-choose-us-text {
        padding: {
            top: 35px;
            bottom: 80px;
            left: 0;
        };
        .content {
            max-width: 100%;

            .sub-title {
                font-size: 13px;
            }
            h2 {
                font-size: 28px;
            }
            .features-list {
                li {
                    padding-left: 92px;
    
                    .icon {
                        top: 2px;
                        width: 70px;
                        height: 70px;
                        font-size: 40px;
                    }
                    h3 {
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .why-choose-us-image {
        margin: {
            left: 15px;
            top: 15px;
            right: 0;
        };
        &::before {
            top: -15px;
            left: -15px;
        }
    }
    .why-choose-us-content {
        padding-left: 0;

        .sub-title {
            font-size: 14px;
        }
        h2 {
            font-size: 30px;
        }
        .features-list {
            li {
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    .why-choose-us-text {
        padding-left: 30px;

        .content {
            max-width: 430px;

            .sub-title {
                font-size: 14px;
            }
            h2 {
                font-size: 30px;
            }
            .features-list {
                li {
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .why-choose-us-image {
        margin: {
            left: 15px;
            top: 15px;
        };
        &::before {
            left: -15px;
            top: -15px;
        }
    }

}