.single-team-box {
    margin-bottom: 30px;
    text-align: center;

    .image {
        position: relative;
        border-radius: 50%;

        img {
            border-radius: 50%;
        }
        .share-btn {
            right: 25px;
            bottom: 25px;
            width: 35px;
            height: 35px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            display: inline-block;
            color: var(--whiteColor);
            background-color: var(--mainColor);
            transition: var(--transition);

            i {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-left: -3px;
            }
        }
        .social {
            position: absolute;
            right: 65px;
            bottom: 20px;
            padding-left: 0;
            margin-bottom: 0;
            opacity: 0;
            transition: var(--transition);
            visibility: hidden;
            list-style-type: none;

            li {
                margin-right: 5px;
                display: inline-block;

                a {
                    width: 35px;
                    height: 35px;
                    display: block;
                    font-size: 16px;
                    position: relative;
                    border-radius: 50%;
                    color: var(--whiteColor);
                    background-color: var(--optionalColor);

                    i {
                        left: 0;
                        top: 50%;
                        right: 0;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                    &.linkedin {
                        background-color: #2867B2;
                    }
                    &.facebook {
                        background-color: #4267B2;
                    }
                    &.twitter {
                        background-color: #1DA1F2;
                    }
                    &.instagram {
                        background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .content {
        margin-top: 25px;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        span {
            display: block;
            color: var(--mainColor);
        }
    }
    &.style-two {
        .image {
            position: relative;
            border-radius: 142.5px 142.5px 21.46px 142.5px;
    
            img {
                border-radius: 142.5px 142.5px 21.46px 142.5px;
            }
            .share-btn {
                right: 0;
                bottom: 0;
            }
            .social {
                right: 40px;
                bottom: -4px;
            }
        }
    }
    &:hover {
        .share-btn {
            color: var(--whiteColor);
            background-color: var(--blackColor);
        }
        .image {
            .social {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-team-box {
        .image {
            .share-btn {
                display: none;
            }
            .social {
                right: 0;
                left: 0;
                text-align: center;
                bottom: 20px;
                opacity: 1;
                visibility: visible;
            }
        }
        .content {
            h3 {
                font-size: 17px;
            }
        }
        &.style-two {
            .image {
                .social {
                    bottom: 0;
                    right: 4px;
                    left: auto;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-team-box {
        .image {
            .share-btn {
                display: none;
            }
            .social {
                right: 0;
                left: 0;
                text-align: center;
                bottom: 20px;
                opacity: 1;
                visibility: visible;
            }
        }
        .content {
            h3 {
                font-size: 18px;
            }
        }
        &.style-two {
            .image {
                .social {
                    bottom: 0;
                    right: 4px;
                    left: auto;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-team-box {
        .image {
            .share-btn {
                display: none;
            }
            .social {
                right: 0;
                left: 0;
                text-align: center;
                bottom: 20px;
                opacity: 1;
                visibility: visible;
            }
        }
        .content {
            h3 {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
        }
        &.style-two {
            .image {
                .social {
                    bottom: 0;
                    right: 4px;
                    left: auto;
                }
            }
        }
    }

}