.testimonials-image {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: {
        right: 30px;
        left: 30px;
        top: 30px;
    };
    img {
        border-radius: 5px;
    }
    &::before {
        content: '';
        left: -30px;
        top: -30px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        position: absolute;
        background-color: var(--blackColor);
    }
}
.testimonials-list {
    padding-left: 15px;

    .sub-title {
        display: block;
        margin-bottom: 12px;
        color: var(--mainColor);
        font: {
            size: 15px;
            weight: 500;
        };
    }
    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .single-testimonials-item {
        margin-bottom: 0;
    }
}
.single-testimonials-item {
    margin-bottom: 30px;

    .desc {
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 40px;
        position: relative;
        z-index: 1;

        p {
            font-size: 16px;
            margin-bottom: 0;
        }
        &::before {
            content: "\edd6";
            position: absolute;
            right: 0;
            bottom: -8px;
            z-index: -1;
            color: #000000;
            line-height: 1;
            opacity: .05;
            font: {
                family: 'boxicons';
                size: 100px;
            };
        }
        &::after {
            left: 40px;
            content: '';
            width: 80px;
            height: 60px;
            bottom: -35px;
            position: absolute;
            z-index: -1;
            background-color: #f5f5f5;
            clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
        }
    }
    .client-info {
        margin: {
            top: 50px;
            left: 10px;
        };
        img {
            width: 50px !important;
            height: 50px;
            border-radius: 50%;
            border: 2px solid var(--mainColor);
        }
        .title {
            margin-left: 15px;

            h3 {
                font-size: 17px;
                margin-bottom: 7px;
            }
            span {
                display: block;
                color: var(--optionalColor);
            }
        }
    }
}
.single-testimonials-box {
    margin-bottom: 30px;

    .desc {
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 40px;
        position: relative;
        z-index: 1;

        p {
            font-size: 16px;
            margin-bottom: 0;
        }
        &::before {
            content: "\edd6";
            position: absolute;
            right: 0;
            bottom: -8px;
            z-index: -1;
            color: #000000;
            line-height: 1;
            opacity: .05;
            font: {
                family: 'boxicons';
                size: 100px;
            };
        }
        &::after {
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 80px;
            height: 60px;
            bottom: -35px;
            position: absolute;
            z-index: -1;
            background-color: #f5f5f5;
            clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
        }
    }
    .client-info {
        margin: {
            top: 50px;
            left: 15px;
        };
        img {
            width: 50px !important;
            height: 50px;
            border-radius: 50%;
            border: 2px solid var(--mainColor);
        }
        .title {
            margin-left: 15px;

            h3 {
                font-size: 17px;
                margin-bottom: 7px;
            }
            span {
                display: block;
                color: var(--optionalColor);
            }
        }
    }
}
.testimonials-img {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .testimonials-img {
        margin-bottom: 30px;
    }
    .testimonials-image {
        margin: {
            bottom: 30px;
            left: 10px;
            right: 0;
            top: 10px;
        };
        &::before {
            left: -10px;
            top: -10px;
        }
    }
    .testimonials-list {
        padding-left: 0;
        text-align: center;

        .sub-title {
            margin-bottom: 10px;
            font-size: 13px;
        }
        h2 {
            font-size: 23px;
            line-height: 1.4;
            margin-bottom: 12px;
        }
    }
    .single-testimonials-item {
        .desc {
            padding: 20px;

            p {
                font-size: 14px;
            }
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .client-info {
            margin-left: 15px;

            .d-flex {
                justify-content: center !important;
            }
            .title {
                text-align: left;

                h3 {
                    font-size: 15px;
                }
            }
        }
    }
    .single-testimonials-box {
        text-align: center;

        .desc {
            padding: 20px;

            p {
                font-size: 14px;
            }
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .client-info {
            margin-left: 15px;

            .d-flex {
                justify-content: center !important;
            }
            .title {
                text-align: left;

                h3 {
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .testimonials-image {
        margin-right: 0;
        margin-bottom: 35px;
    }
    .testimonials-list {
        padding-left: 0;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 28px;
        }
    }
    .single-testimonials-item {
        .desc {
            padding: 25px;

            p {
                font-size: 15px;
            }
        }
        .client-info {
            .title {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .testimonials-slides {
        &.owl-theme {
            margin-top: 30px;
        }
    }
    .single-testimonials-box {
        .desc {
            padding: 25px;

            p {
                font-size: 15px;
            }
        }
        .client-info {
            .title {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .testimonials-img {
        margin-bottom: 35px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .testimonials-image {
        margin: {
            left: 15px;
            top: 15px;
            right: 0;
        };
        &::before {
            top: -15px;
            left: -15px;
        }
    }
    .testimonials-list {
        padding-left: 0;

        .sub-title {
            font-size: 14px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .single-testimonials-item {
        .desc {
            padding: 30px;
        }
    }
    .single-testimonials-box {
        .desc {
            padding: 30px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .testimonials-image {
        margin: {
            left: 15px;
            top: 15px;
        };
        &::before {
            left: -15px;
            top: -15px;
        }
    }

}