.single-contact-info-box {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #F9FAFB;

    .icon {
        line-height: 1;
        font-size: 40px;
        margin-bottom: 20px;
        color: var(--mainColor);
    }
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 2px;

        a {
            color: var(--optionalColor);
            display: inline-block;

            &:hover {
                color: var(--mainColor);
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.contact-form {
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);

    form {
        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 10px;
                color: var(--optionalColor);
            }
            .form-control {
                border-radius: 0;
                background-color: #f9faff;
                border: 1px solid #eeeeee !important;
            }
        }
        .form-check {
            margin: {
                bottom: 15px;
                top: 5px;
            };
            a {
                color: var(--mainColor);

                &:hover {
                    color: var(--blackColor);
                    text-decoration: underline;
                }
            }
        }
        .default-btn {
            margin-top: 5px;
            padding: {
                left: 30px;
                right: 30px;
            };
        }
        .help-block {
            &.with-errors {
                color: red;
                margin: {
                    bottom: 0;
                    top: 15px;
                };
            }
        }
        #msgSubmit {
            margin: 0;

            &.text-danger {
                margin-top: 15px;
            }
        }
    }
}
#maps {
    iframe {
        height: 500px;
        width: 100%;
        margin-bottom: -7px;
        border: none;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-contact-info-box {
        padding: 20px;
        text-align: center;

        h3 {
            font-size: 17px;
        }
        .icon {
            font-size: 30px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-contact-info-box {
        padding: 25px;
        text-align: center;

        .icon {
            font-size: 35px;
        }
        h3 {
            font-size: 18px;
        }
    }
    .contact-form {
        padding: 25px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-contact-info-box {
        padding: 33px 13px;

        h3 {
            font-size: 18px;
        }
        .icon {
            font-size: 35px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1356px to Max width 1535px */
@media only screen and (min-width: 1356px) and (max-width: 1535px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}